/* Apply.css */

/* .ap-bg {
  background-image: url('https://img.freepik.com/free-vector/man-search-hiring-job-online-from-laptop_1150-52728.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
} */

.ap-fc {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  height: 50vh;
}

.ap-f {
  max-width: 500px;
  background-image: url('https://www.shutterstock.com/image-vector/striped-blue-gradient-hd-background-600nw-1724175436.jpg');
  background-size: cover;
  background-position: center;
}

.ap-f fieldset {
  border-width: 5px;
  padding: 10px;
  border-color: #f2f2f2;
  justify-content: center;
}

.ap-fn {
  display: flex;
  flex-wrap: wrap;
  color: black;
}

.ap-fn input,
.ap-fn select {
  flex-grow: 1;
  margin: 5px;
  padding: 10px;
  font-size: 14px;
  box-sizing: border-box;
  color: #000;
  background-color: #cfc5c556;
  width: 100%; /* Set width for 100% of the container */
}

.ap-dob,
.ap-gender,
.ap-ph,
.ap-em {
  flex-grow: 1;
  margin: 5px;
  padding: 10px;
  font-size: 14px;
  box-sizing: border-box;
  color: #f9f5f5;
  background-color: #f5eded56;
  width: 100%;
  width: calc(50% - 10px); /* Set width for 50% of the container with some spacing */
}

.ap-ln,
.ap-np,
.ap-ad,
.ap-edu,
.ap-aadhar {
  margin: 5px;
  padding: 10px;
  font-size: 14px;
  box-sizing: border-box;
  width: 100%;
  background-color: #cfc5c556;
  color: #000;
}

.ap-su {
  display: block;
  margin: 0 auto;
  padding: 12px 70px;
  width: 200px;
  
  font-weight:400;
  font-size: 16px;
  border-radius: 5px;
  border-color: #000;
  background-color: #0991f9cf;
  color: white;
  cursor: pointer;
}
